.App {
  max-width: 600px;
  margin: 30px auto 10px;
}

.container {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.App footer {
  font-size: 13px;
  display: block;
  text-align: left;
  margin: 10px auto;
  color: #878787;
  font-family: Arial, sans-serif;
}
