body {
  font-family: Arial, sans-serif !important;
  font-size: 24px;
  color: #25b2a8;
}

h1 {
  color: #25b2a8;
  font-size: 30px !important;
  font-weight: 600 !important;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
  font-family: Arial, sans-serif;
}

h3 {
  color: #878787;
  font-size: 14px !important;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
  font-family: Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #878787;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  color: #878787;
}

a:hover,
a:active,
a:visited {
  color: #25b2a8;
  text-decoration: none;
  font-weight: 600;
}
